@import "./variables.scss";
// ------------  Mixins ---------------

@function weight($weight-name) {
  @return map-get($font-weight, $weight-name);
}

@mixin firstGeneralHeading() {
  font-size: 20px;
  color: $first-gs-Heading-color;
  font-weight: weight(medium);

  @include tablet() {
    font-size: 16px;
  }

  @include mobile() {
    font-size: 13px;
  }
}

@mixin secondGeneralHeading() {
  font-size: 40px;
  color: $second-gs-Heading-color;
  font-weight: weight(bold);

  @include tablet() {
    font-size: 36px;
  }

  @include mobile() {
    font-size: 32px;
  }
}

@mixin menuLinks {
  @include VerticalPadding(0.3rem, 0.3rem);
  @include HorizontalPadding(18px, 18px);
  @include HorizontalMargin(30px,0px);
  font-size: 22px;
  font-weight: weight(medium);
  line-height: 33px;
  text-transform: uppercase;
  color: $primary-color;
  position: relative;
  cursor: pointer;
  letter-spacing: 0;
  border-radius: 7px;
  transition: all 0.4s ease;

  &:last-child {
    margin-right: 0;
  }

  &.active {
    color: $white-color;
    background-color: $primary-color;
    transition: all 0.4s ease;
  }

  @include tablet() {
    font-size: 25px;
    font-weight: weight(regular);
    line-height: 38px;
    margin: 0 auto 70px;
    @include VerticalPadding(0.5rem, 0.5rem);
    @include HorizontalPadding(1rem, 1rem);
    width: fit-content;
    color: #0000009e;

    &:last-child {
      margin-right: auto;
    }

    &.active {
      font-weight: weight(semiBold);
    }
  }

  @include mobile() {
    font-size: 21px;
    line-height: 31px;
    margin-bottom: 24px;
  }
}

@mixin carouselHeading() {
  font-size: 50px;
  font-weight: weight(bold);
  color: $white-color;
  line-height: 65px;

  @include tablet {
    font-size: 40px;
    line-height: 60px;
  }

  @include mobile {
    font-size: 30px;
    line-height: 33px;
  }
}

@mixin carouselSubHeading() {
  font-size: 22px;
  font-weight: weight(regular);
  color: $white-color;
  line-height: 33px;
  margin-top: 20px;

  @include tablet {
    font-size: 20px;
    color: #E1DCDC;
    line-height: 44px;
    margin-top: 28px;
  }

  @include mobile {
    font-size: 18px;
    line-height: 23px;
    margin-top: 16px;
  }
}



@mixin firstGSRegularText() {
  font-size: 18px;
  color: $first-gs-text-color;
  font-weight: weight(light);

  @include mobile() {
    font-size: 16px;
  }
}

@mixin secondGSRegularText() {
  font-size: 2.5rem;
  color: $general-normalSize-text-color;
  font-weight: weight(medium);
  font-family: "Poppins", sans-serif;

  @include desktop() {
    font-size: 2.265rem;
  }

  @include laptop() {
  }
  @include tablet() {
  }
  @include largeWidthSizeMobiles() {
  }
  @include mobile() {
  }
}

@mixin sectionHorizontalSpace() {
  max-width: 2000px;
  margin: 0 auto;
  @include HorizontalPadding(37px, 37px);
  

  @include tablet {
    @include HorizontalPadding(26px, 26px);
  }

  @include mobile {
    @include HorizontalPadding(15px, 15px);
  }
}

@mixin flexCenterRow {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexCenterColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin flexRow($xAxis, $yAxis) {
  display: flex;
  justify-content: $xAxis;
  align-items: $yAxis;
}

@mixin flexColumn($xAxis, $yAxis) {
  display: flex;
  flex-direction: column;
  justify-content: $xAxis;
  align-items: $yAxis;
}

@mixin button($fontSize, $padding) {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primary-color;
  border-color: transparent;
  box-shadow: 0px 3px 6px rgb(0 0 0 / 16%);
  font-size: $fontSize;
  font-weight: map-get($font-weight, medium);
  border-radius: 10px;
  color: $white-color;
  padding: $padding;
  transition-duration: 0.2s;
  &:hover {
    box-shadow: 0px 3px 8px rgb(0 0 0 / 30%);
    transition-duration: 0.3s;
  }
}

@mixin input {
  height: 55px;
  border-radius: 10px;
  margin-bottom: 27px;
  @include VerticalPadding(18px, 18px);
  @include HorizontalPadding(24px, 24px);
  border: 1px solid $primary-color;
  line-height: 84px;
  font-size: 22px;
  font-weight: weight(light);


  &::placeholder {
    color: #a7a7a7;
  }

  &:focus {
    box-shadow: none;
  }

  @include tablet {
    height: 38px;
    margin-bottom: 17px;
    @include HorizontalPadding(14px, 14px);
    font-size: 17px;
  }

  @include mobile {
    height: 29px;
    margin-bottom: 14px;
    font-size: 14px;
  }
}

@mixin select {
  height: 55px;
  border-radius: 10px;
  margin-bottom: 27px;
  @include VerticalPadding(0px, 0px);
  @include HorizontalPadding(24px, 24px);
  border: 1px solid $primary-color;
  font-size: 22px;
  font-weight: weight(light);

  &:focus {
    box-shadow: none;
  }

  @include tablet {
    height: 38px;
    margin-bottom: 17px;
    @include HorizontalPadding(14px, 14px);
    font-size: 17px;
  }

  @include mobile {
    height: 40px;
    margin-bottom: 14px;
    font-size: 14px;
  }
}

@mixin textArea {
  border-radius: 10px;
  margin-bottom: 27px;
  @include VerticalPadding(12px, 12px);
  @include HorizontalPadding(24px, 24px);
  border: 1px solid $primary-color;
  font-size: 22px;
  font-weight: weight(light);
  resize: none;

  &::placeholder {
    color: #a7a7a7;
  }

  &:focus {
    box-shadow: none;
  }

  @include tablet {
    margin-bottom: 17px;
    @include HorizontalPadding(14px, 14px);
    font-size: 17px;
  }

  @include mobile {
    margin-bottom: 14px;
    font-size: 14px;
  }
}

@mixin GeneralbackgroundImage($Repeat, $Size, $xAxisPos, $yAxisPos) {
  background-repeat: $Repeat;
  background-size: $Size;
  background-position: $xAxisPos $yAxisPos;
}

@mixin card {
  width: 350px;
  height: 440px;
  background-color: $cards-background-color;
  transition-duration: 0.2s;
  &:hover {
    background-color: $cards-hover-color;
    color: $white-text;
  }
}

@mixin VerticalPadding($top, $bottom) {
  padding-top: $top;
  padding-bottom: $bottom;
}

@mixin HorizontalPadding($right, $left) {
  padding-right: $right;
  padding-left: $left;
}

@mixin VerticalMargin($top, $bottom) {
  margin-top: $top;
  margin-bottom: $bottom;
}

@mixin HorizontalMargin($right, $left) {
  margin-right: $right;
  margin-left: $left;
}

@mixin elementSize($width, $height) {
  width: $width;
  height: $height;
}
