@import "./variables.scss";
// ------------  Mixins ---------------

@function weight($weight-name) {
  @return map-get($font-weight, $weight-name);
}

@mixin firstGeneralHeading() {
  // font-size: $firstGH;
  font-size: 5rem;
  color: $heading-text-color-first;
  font-weight: weight(bold);

  @include desktop() {
    font-size: 4rem;
  }

  @include laptop() {
    font-size: 3.8rem;
  }
  @include tablet() {
  }
  @include largeWidthSizeMobiles() {
  }
  @include mobile() {
    font-size: 3rem;
  }
  @include customSmallBp() {
  }
}

@mixin secondGeneralHeading() {
  // font-size: $secondGH;
  font-size: 5rem;
  color: $heading-text-color-second;
  font-weight: weight(bold);

  @include desktop() {
    font-size: 4rem;
  }
  @include laptop() {
    font-size: 3.8rem;
  }
  @include tablet() {
  }
  @include largeWidthSizeMobiles() {
  }
  @include mobile() {
    font-size: 3rem;
  }
  @include customSmallBp() {
  }
}

@mixin menuLinks {
  @include VerticalPadding(0.2rem, 0.2rem);
  @include HorizontalPadding(1rem, 1rem);
  @include HorizontalMargin(0.5rem, 0.5rem);
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
  color: $primary-color;
  position: relative;
  cursor: pointer;
  letter-spacing: 0;
  border-radius: 7px;
  transition: all 0.4s ease;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    color: $white-color;
    background-color: $primary-color;
    transition: all 0.4s ease;
  }

  @include tablet() {
    font-size: 25px;
    font-weight: 400;
    margin: 0 auto 1.5rem;
    @include VerticalPadding(0.5rem, 0.5rem);
    @include HorizontalPadding(1rem, 1rem);
    width: fit-content;
    color: #0000009e;

    &:last-child {
      margin-right: auto;
    }

    &:hover {
      font-weight: 700;
    }
  }

  @include mobile() {
    font-size: 21px;
  }
}

@mixin carouselHeading(){
    font-size: 50px;
    font-weight: weight(bold);
    color: $white-color;
    line-height: 65px;

    @include tablet{
        font-size: 40px;
        line-height: 44px;
    }

    @include mobile{
        font-size: 19px;
        line-height: 22px
    }
}

@mixin carouselSubHeading(){
    font-size: 22px;
    font-weight: weight(light);
    color: $white-color;
    line-height: 27px;
    margin-top: 24px;

    @include tablet{
        font-size: 20px;
    }

    @include mobile{
        font-size: 11px;
        line-height: 17px
    }
}

@mixin firstGSRegularText() {
  font-size: 2.2rem;
  color: $general-normalSize-text-color;
  font-weight: weight(light);
  font-family: "Poppins", sans-serif;
  @include desktop() {
    font-size: 2.1rem;
  }
  @include laptop() {
  }
  @include tablet() {
  }
  @include largeWidthSizeMobiles() {
  }
  @include mobile() {
    font-size: 2rem;
  }
  @include customSmallBp() {
    font-size: 1.8rem;
  }
}

@mixin secondGSRegularText() {
  font-size: 2.5rem;
  color: $general-normalSize-text-color;
  font-weight: weight(medium);
  font-family: "Poppins", sans-serif;

  @include desktop() {
    font-size: 2.265rem;
  }

  @include laptop() {
  }
  @include tablet() {
  }
  @include largeWidthSizeMobiles() {
  }
  @include mobile() {
  }
}

@mixin flexCenterRow {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexCenterColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin flexRow($xAxis, $yAxis) {
  display: flex;
  justify-content: $xAxis;
  align-items: $yAxis;
}

@mixin flexColumn($xAxis, $yAxis) {
  display: flex;
  flex-direction: column;
  justify-content: $xAxis;
  align-items: $yAxis;
}

@mixin button($fontSize,$padding) {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primary-color;
  border-color: transparent;
  box-shadow: 0px 3px 6px rgb(0 0 0 / 16%);
  font-size: $fontSize;
  font-weight: map-get($font-weight, medium);
  border-radius: 10px;
  color: $white-color;
  padding: $padding;
  transition-duration: 0.2s;
  &:hover {
    box-shadow: 0px 3px 8px  rgb(0 0 0 / 30%);
    transition-duration: 0.3s;
  }

}

@mixin GeneralbackgroundImage($Img, $imgHover, $Size) {
  background-image: url($Img);
  background-repeat: no-repeat;
  background-size: $Size;
  background-position: center center;
  center &:hover {
    background-image: url($imgHover);
  }
}

@mixin card {
  width: 350px;
  height: 440px;
  background-color: $cards-background-color;
  transition-duration: 0.2s;
  &:hover {
    background-color: $cards-hover-color;
    color: $white-text;
  }
}

@mixin VerticalPadding($top, $bottom) {
  padding-top: $top;
  padding-bottom: $bottom;
}

@mixin HorizontalPadding($right, $left) {
  padding-right: $right;
  padding-left: $left;
}

@mixin VerticalMargin($top, $bottom) {
  margin-top: $top;
  margin-bottom: $bottom;
}

@mixin HorizontalMargin($right, $left) {
  margin-right: $right;
  margin-left: $left;
}

@mixin elementSize($width, $height) {
  width: $width;
  height: $height;
}
