@import "./general/variables.scss";
@import "./general/mixins.scss";


// TOP DETAILS
.top_details {
  @include VerticalPadding(0.7rem, 0.7rem);
  background-color: #F7F7F7;

  @include tablet{
    display: none;
  }
  .td_inner {
    @include flexRow(space-between, center);

    // LEFT
    .td_left {
      display: flex;
      grid-gap: 2rem;

      .tdl_item {
        display: flex;
        flex-direction: column;
        color: $primary-color;

        h6,span{
          line-height: 25px;
        }

        h6{
          font-weight: 600;
        }
      }
    }

    // RIGHT
    .td_right{

      button{
        @include button(14px, .375rem .75rem);
        border: 1px solid $white-color;
      }
    }
  }
}

// NAVBAR
.D_navbar {
  @include VerticalPadding(0.5rem, 0.5rem);
  width: 100%;
  z-index: 9999;
  background-color: $white-color;
  transition: all 0.2s ease;

  .inner {
    @include flexRow(left, center);
    position: relative;
    height: 100%;
    transition: all 0.2s ease;

    // LOGO
    .logo {
      h1 {
        color: $primary-color;
        font-weight: 500;
        font-size: 49px;

        @include tablet {
          font-size: 25px;
          z-index: 100;
          position: relative;
        }
      }
    }

    // LINKS
    .links {
      margin-left: auto;

      @include tablet {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        padding-bottom: 4.5rem;
        background-color: $white-color;
        overflow: auto;
        z-index: 99;
        transform: translateY(-100%);
        transition: all 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
      }

      &.active {
        transform: translateY(0);
        transition: all 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
      }

      .navbar_list {
        display: flex;

        @include tablet {
          display: block;
          padding: 6rem 0 0;
        }

        li {
          @include menuLinks;
        }
      }

      .l_quote {
        @include VerticalMargin(0, 0);
        @include HorizontalMargin(auto, auto);
        @include VerticalPadding(0.3rem, 0.3rem);
        @include HorizontalPadding(0.5rem, 0.5rem);
        font-size: 11px;
        border-radius: 10px;
        background-color: $primary-color;
        color: $white-color;
        width: fit-content;

        @include tablet-min {
          display: none;
        }
      }
    }

    // HAMBURGER
    .hamburger {
      z-index: 99;
      @include tablet-min {
        display: none;
      }

      .checkbox {
        position: absolute;
        display: block;
        @include elementSize(32px, 32px);
        top: 20px;
        right: 0;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
      }

      .hamburger_lines {
        display: block;
        @include elementSize(32px, 17px);
        position: absolute;
        top: 0.5rem;
        right: 0;
        z-index: 2;
        @include flexColumn(space-between, center);
        transition: all 0.4s ease-in-out;

        .line {
          display: block;
          @include elementSize(85%, 3px);
          margin-left: auto;
          border-radius: 10px;
          background: $primary-color;
        }

        .line1 {
          transform-origin: 0% 0%;
          transition: transform 0.4s ease-in-out;
        }

        .line2 {
          width: 65%;
          transition: transform 0.2s ease-in-out;
        }

        .line3 {
          width: 45%;
          transform-origin: 0% 100%;
          transition: transform 0.4s ease-in-out;
        }

        &.active {
          height: 21px;
          right: -5px;
          transition: all 0.4s ease-in-out;

          .line {
            background: $primary-color;
          }

          .line1 {
            transform: rotate(45deg);
          }

          .line2 {
            transform: scaleY(0);
          }

          .line3 {
            width: 85%;
            transform: rotate(-45deg);
          }
        }
      }
    }
  }
}
