@import "./general/variables.scss";
@import "./general/mixins.scss";

.services {
  @include sectionHorizontalSpace;
  background-color: rgb(30 255 0 / 06%);
  @include VerticalPadding(85px, 60px);

  .services_cards {
    margin-top: 85px;

    @include mobile {
      margin-top: 62px;
    }

    .custom_row {
      justify-content: center;
      --bs-gutter-x: 23px;
      --bs-gutter-y: 0;

      @include tablet {
        --bs-gutter-x: 58px;
        --bs-gutter-y: 45px;
      }
      @include mobile {
        --bs-gutter-x: 0;
        --bs-gutter-y: 50px;
      }

      .sc_item {
        height: 530px;
        background-color: $white-color;
        border-radius: 15px;
        text-align: center;
        @include VerticalPadding(32px, 32px);
        @include HorizontalPadding(30px, 30px);
        box-shadow: 0px 10px 15px rgb(0 0 0 / 16%);
        transition: all 0.3s ease;

        &:hover {
          transform: translateY(-50px);
          border-bottom: 8px solid $primary-color;
          transition: all 0.3s ease;

          @include tablet {
            transform: translateY(-25px);
          }
        }

        @include desktop{
          height: 650px;
        }

        @include tablet {
          height: 480px;
        }
        @include mobile {
          height: auto;
        }

        // ICON
        span {
          @include tablet {
            @include elementSize(80px !important, 80px !important);
          }

          @include mobile {
            @include elementSize(70px !important, 70px !important);
          }
        }

        h5 {
          font-size: 35px;
          font-weight: weight(medium);
          line-height: 53px;

          @include tablet {
            font-size: 26px;
            line-height: 39px;
          }

          @include mobile {
            font-size: 24px;
            line-height: 35px;
          }
        }

        p {
          @include firstGSRegularText;
          margin-top: 26px;
          line-height: 30px;

          @include tablet {
            margin-top: 13px;
            line-height: 25px;
          }


          span {
            margin-left: 5px;
            color: rgb(0 0 205 / 54%);
            cursor: pointer;
          }
        }
      }
    }
  }
}
