@import "./general/variables.scss";
@import "./general/mixins.scss";

.services {
  background-color: rgb(30 255 0 / 06%);
  @include VerticalPadding(85px, 60px);

  .services_cards {
    margin-top: 85px;

    .custom_row {
      justify-content: center;
      --bs-gutter-x: 23px;
      --bs-gutter-y: 0;

      @include tablet {
        --bs-gutter-x: 73px;
        --bs-gutter-y: 73px;
      }
      @include mobile {
        --bs-gutter-x: 0;
        --bs-gutter-y: 68px;
      }

      .sc_item {
        height: 530px;
        background-color: $white-color;
        border-radius: 15px;
        text-align: center;
        @include VerticalPadding(32px, 32px);
        @include HorizontalPadding(30px, 30px);
        box-shadow: 0px 10px 15px rgb(0 0 0 / 16%);
        transition: all 0.3s ease;

        &:hover {
          transform: translateY(-50px);
          border-bottom: 8px solid $primary-color;
          transition: all 0.3s ease;
        }

        @include tablet {
          height: 450px;
        }
        @include mobile {
          height: auto;
        }

        h5 {
          font-size: 35px;
          font-weight: weight(medium);
          line-height: 53px;

          @include tablet {
            font-size: 30px;
            line-height: 46px;
          }
        }

        p {
          margin-top: 26px;
          font-size: 16px;
          line-height: 30px;
          color: rgb(0 0 0 / 54%);

          @include tablet {
            font-size: 13px;
            line-height: 25px;
          }

          span {
            margin-left: 5px;
            color: rgb(0 0 205 / 54%);
            cursor: pointer;
          }
        }
      }
    }
  }
}
